__pycache__/
/*/__pycache__/
/*/*/__pycache__/

1_initial_pd/results/
/*/Fit*/

Experiments/
2_magnetization_plots/results/phase_diagrams_data/
2_magnetization_plots/results/figures/
2_magnetization_plots/results/hdf5/
2_magnetization_plots/results/*meeting*/

2_magnetization_plots/Data/sols/
2_magnetization_plots/Data/MPs/

2_magnetization_plots/bash_scripts/ygg.sh
2_magnetization_plots/bash_scripts/comp_mp.sh
